### Loading the dataset and reviewing general information

In [7]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Berfin\Desktop\machine learning alıştırmalar\python programming\persona.csv')

In [8]:
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

In [10]:
df.describe().T

        count     mean        std   min   25%   50%   75%   max
PRICE  5000.0  34.1320  12.464897   9.0  29.0  39.0  39.0  59.0
AGE    5000.0  23.5814   8.995908  15.0  17.0  21.0  27.0  66.0

In [11]:
df.value_counts()

PRICE  SOURCE   SEX     COUNTRY  AGE
29     android  male    usa      15     29
49     android  male    usa      15     25
39     android  male    usa      15     25
29     ios      male    usa      15     23
39     ios      female  deu      16     22
                                        ..
29     ios      male    tur      16      1
39     android  male    usa      34      1
49     android  male    deu      18      1
19     android  male    usa      29      1
59     ios      male    usa      59      1
Length: 1384, dtype: int64

In [12]:
df.shape

(5000, 5)

In [13]:
df.columns

Index(['PRICE', 'SOURCE', 'SEX', 'COUNTRY', 'AGE'], dtype='object')

In [14]:
df.isnull().any()

PRICE      False
SOURCE     False
SEX        False
COUNTRY    False
AGE        False
dtype: bool

#### How many unique "SOURCE" are there? What are their frequencies?

In [15]:
df['SOURCE'].nunique()

2

In [16]:
df['SOURCE'].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

#### How many unique "PRICE" are there? What are their frequencies?

In [17]:
df['PRICE'].nunique()

6

In [18]:
df['PRICE'].value_counts()

29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

#### How many sales were made from which country?

In [19]:
df['COUNTRY'].value_counts()

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

#### How much was earned from sales in total by country?

In [21]:
df.groupby('COUNTRY').agg({'PRICE':['sum']})

         PRICE
           sum
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [22]:
df.groupby('COUNTRY')['PRICE'].sum()

COUNTRY
bra    51354
can     7730
deu    15485
fra    10177
tur    15689
usa    70225
Name: PRICE, dtype: int64

#### What are the sales numbers by "SOURCE" types?

In [23]:
df['SOURCE'].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

#### What are the "PRICE" averages by country?

In [24]:
df.groupby('COUNTRY')['PRICE'].mean()

COUNTRY
bra    34.327540
can    33.608696
deu    34.032967
fra    33.587459
tur    34.787140
usa    34.007264
Name: PRICE, dtype: float64

#### What are the "PRICE" averages according to "SOURCE's"?

In [25]:
df.groupby('SOURCE')['PRICE'].mean()

SOURCE
android    34.174849
ios        34.069102
Name: PRICE, dtype: float64

#### What are the "PRICE" averages in the "COUNTRY-SOURCE" breakdown?

In [26]:
df.groupby(['COUNTRY','SOURCE']).agg({'PRICE':['mean']})

                     PRICE
                      mean
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

#### What are the average earnings in the "COUNTRY, SOURCE, SEX, AGE" breakdown?

In [29]:
df.groupby(['COUNTRY','SOURCE','SEX','AGE']).agg({'PRICE':['mean']}).head()

                                PRICE
                                 mean
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897

In [30]:
agg_df = df.groupby(['COUNTRY','SOURCE','SEX','AGE']).agg({'PRICE':'mean'})

In [31]:
agg_df.sort_values('PRICE',ascending=False)

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0
...                           ...
usa     ios     female 38    19.0
                       30    19.0
can     android female 27    19.0
fra     android male   18    19.0
deu     android male   26     9.0

[348 rows x 1 columns]

#### Converting the names in the index to variable names

In [32]:
agg_df.reset_index(inplace=True)

In [33]:
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE      PRICE
0     bra  android  female   15  38.714286
1     bra  android  female   16  35.944444
2     bra  android  female   17  35.666667
3     bra  android  female   18  32.255814
4     bra  android  female   19  35.206897

#### Converting the age variable to a categorical variable and creating ranges

In [34]:
my_bins = [0, 18, 23, 30, 40, agg_df['AGE'].max()]

In [35]:
my_bins

[0, 18, 23, 30, 40, 66]

In [36]:
my_labels = ['0_18', '19_23', '24_30', '31_40', '41_'+ str(agg_df['AGE'].max())]

In [37]:
my_labels

['0_18', '19_23', '24_30', '31_40', '41_66']

In [38]:
pd.cut(agg_df['AGE'], bins= my_bins, labels= my_labels)

0       0_18
1       0_18
2       0_18
3       0_18
4      19_23
       ...
343    41_66
344    41_66
345    41_66
346    41_66
347    41_66
Name: AGE, Length: 348, dtype: category
Categories (5, object): ['0_18' < '19_23' < '24_30' < '31_40' < '41_66']

In [39]:
agg_df['AGE_CAT'] = pd.cut(agg_df['AGE'], bins= my_bins, labels= my_labels)

In [41]:
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE      PRICE AGE_CAT
0     bra  android  female   15  38.714286    0_18
1     bra  android  female   16  35.944444    0_18
2     bra  android  female   17  35.666667    0_18
3     bra  android  female   18  32.255814    0_18
4     bra  android  female   19  35.206897   19_23

#### Defining new level-based customers (personas) and adding them to the dataset as a new variable

In [42]:
agg_df.drop(['AGE','PRICE'], axis=1).values

array([['bra', 'android', 'female', '0_18'],
       ['bra', 'android', 'female', '0_18'],
       ['bra', 'android', 'female', '0_18'],
       ...,
       ['usa', 'ios', 'male', '41_66'],
       ['usa', 'ios', 'male', '41_66'],
       ['usa', 'ios', 'male', '41_66']], dtype=object)

In [43]:
["_".join(i).upper() for i in agg_df.drop(['AGE','PRICE'], axis=1).values]

['BRA_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'BRA_ANDROID_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_31_40',
 'BRA_ANDROID_FEMALE_31_40',
 'BRA_ANDROID_FEMALE_31_40',
 'BRA_ANDROID_FEMALE_31_40',
 'BRA_ANDROID_FEMALE_31_40',
 'BRA_ANDROID_FEMALE_31_40',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_ANDROID_FEMALE_41_66',
 'BRA_ANDROID_MALE_0_18',
 'BRA_ANDROID_MALE_0_18',
 'BRA_ANDROID_MALE_0_18',
 'BRA_ANDROID_MALE_0_18',
 'BRA_ANDROID_MALE_19_23',
 'BRA_ANDROID_MALE_19_23',
 'BRA_ANDROID_MALE_19_23',
 'BRA_ANDROID_MALE_19_23',
 'BRA_ANDROID_MALE_19_23',
 'BRA_ANDROID_MALE_24_30',
 'BRA_ANDROID_MALE_24_30',
 'BRA_ANDROID_MALE_24_30',
 'BRA_ANDROID_MALE_24_30',
 'BRA_ANDROID_MALE_24_30',
 'BRA_ANDROID_MALE_24_30',
 'BRA_ANDROID_MALE_24_30',
 'BRA_ANDROID_MALE_31_40',
 'BRA_ANDROID_MALE_31_40',
 'BRA_ANDROID_MALE_31_40',
 'BRA_ANDROID_MALE_41_66',
 'BRA_ANDROID_MALE_41_66',
 'BRA_ANDROID_MALE_41_66',
 'BRA_ANDROID_MALE_41_66',
 'BRA_IOS_FEMALE_0_18',
 'BRA_IOS_FEMALE_0_18',
 'BRA_IOS_FEMALE_0_18',
 'BRA_IOS_FEMALE_0_18',
 'BRA_IOS_FEMALE_19_23',
 'BRA_IOS_FEMALE_19_23',
 'BRA_IOS_FEMALE_19_23',
 'BRA_IOS_FEMALE_19_23',
 'BRA_IOS_FEMALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'BRA_IOS_FEMALE_31_40',
 'BRA_IOS_FEMALE_31_40',
 'BRA_IOS_FEMALE_31_40',
 'BRA_IOS_FEMALE_31_40',
 'BRA_IOS_FEMALE_31_40',
 'BRA_IOS_FEMALE_41_66',
 'BRA_IOS_FEMALE_41_66',
 'BRA_IOS_FEMALE_41_66',
 'BRA_IOS_FEMALE_41_66',
 'BRA_IOS_MALE_0_18',
 'BRA_IOS_MALE_0_18',
 'BRA_IOS_MALE_0_18',
 'BRA_IOS_MALE_0_18',
 'BRA_IOS_MALE_19_23',
 'BRA_IOS_MALE_19_23',
 'BRA_IOS_MALE_19_23',
 'BRA_IOS_MALE_19_23',
 'BRA_IOS_MALE_24_30',
 'BRA_IOS_MALE_31_40',
 'BRA_IOS_MALE_31_40',
 'BRA_IOS_MALE_31_40',
 'BRA_IOS_MALE_31_40',
 'BRA_IOS_MALE_31_40',
 'BRA_IOS_MALE_31_40',
 'BRA_IOS_MALE_41_66',
 'BRA_IOS_MALE_41_66',
 'BRA_IOS_MALE_41_66',
 'BRA_IOS_MALE_41_66',
 'BRA_IOS_MALE_41_66',
 'CAN_ANDROID_FEMALE_0_18',
 'CAN_ANDROID_FEMALE_0_18',
 'CAN_ANDROID_FEMALE_0_18',
 'CAN_ANDROID_FEMALE_19_23',
 'CAN_ANDROID_FEMALE_19_23',
 'CAN_ANDROID_FEMALE_24_30',
 'CAN_ANDROID_FEMALE_41_66',
 'CAN_ANDROID_MALE_0_18',
 'CAN_ANDROID_MALE_19_23',
 'CAN_ANDROID_MALE_24_30',
 'CAN_ANDROID_MALE_24_30',
 'CAN_ANDROID_MALE_41_66',
 'CAN_IOS_FEMALE_0_18',
 'CAN_IOS_FEMALE_0_18',
 'CAN_IOS_FEMALE_24_30',
 'CAN_IOS_MALE_0_18',
 'CAN_IOS_MALE_0_18',
 'CAN_IOS_MALE_0_18',
 'CAN_IOS_MALE_24_30',
 'CAN_IOS_MALE_31_40',
 'CAN_IOS_MALE_41_66',
 'DEU_ANDROID_FEMALE_0_18',
 'DEU_ANDROID_FEMALE_0_18',
 'DEU_ANDROID_FEMALE_0_18',
 'DEU_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_FEMALE_24_30',
 'DEU_ANDROID_FEMALE_24_30',
 'DEU_ANDROID_FEMALE_24_30',
 'DEU_ANDROID_FEMALE_24_30',
 'DEU_ANDROID_FEMALE_31_40',
 'DEU_ANDROID_FEMALE_31_40',
 'DEU_ANDROID_FEMALE_31_40',
 'DEU_ANDROID_FEMALE_31_40',
 'DEU_ANDROID_FEMALE_41_66',
 'DEU_ANDROID_FEMALE_41_66',
 'DEU_ANDROID_FEMALE_41_66',
 'DEU_ANDROID_MALE_0_18',
 'DEU_ANDROID_MALE_0_18',
 'DEU_ANDROID_MALE_0_18',
 'DEU_ANDROID_MALE_19_23',
 'DEU_ANDROID_MALE_19_23',
 'DEU_ANDROID_MALE_19_23',
 'DEU_ANDROID_MALE_19_23',
 'DEU_ANDROID_MALE_24_30',
 'DEU_ANDROID_MALE_24_30',
 'DEU_ANDROID_MALE_31_40',
 'DEU_ANDROID_MALE_31_40',
 'DEU_ANDROID_MALE_31_40',
 'DEU_ANDROID_MALE_31_40',
 'DEU_ANDROID_MALE_31_40',
 'DEU_IOS_FEMALE_0_18',
 'DEU_IOS_FEMALE_0_18',
 'DEU_IOS_FEMALE_0_18',
 'DEU_IOS_FEMALE_0_18',
 'DEU_IOS_FEMALE_19_23',
 'DEU_IOS_FEMALE_19_23',
 'DEU_IOS_FEMALE_24_30',
 'DEU_IOS_FEMALE_24_30',
 'DEU_IOS_FEMALE_31_40',
 'DEU_IOS_MALE_0_18',
 'DEU_IOS_MALE_0_18',
 'DEU_IOS_MALE_19_23',
 'DEU_IOS_MALE_19_23',
 'DEU_IOS_MALE_24_30',
 'DEU_IOS_MALE_24_30',
 'DEU_IOS_MALE_31_40',
 'DEU_IOS_MALE_41_66',
 'FRA_ANDROID_FEMALE_0_18',
 'FRA_ANDROID_FEMALE_0_18',
 'FRA_ANDROID_FEMALE_0_18',
 'FRA_ANDROID_FEMALE_19_23',
 'FRA_ANDROID_FEMALE_19_23',
 'FRA_ANDROID_FEMALE_19_23',
 'FRA_ANDROID_FEMALE_24_30',
 'FRA_ANDROID_FEMALE_24_30',
 'FRA_ANDROID_FEMALE_31_40',
 'FRA_ANDROID_MALE_0_18',
 'FRA_ANDROID_MALE_0_18',
 'FRA_ANDROID_MALE_19_23',
 'FRA_ANDROID_MALE_19_23',
 'FRA_ANDROID_MALE_19_23',
 'FRA_ANDROID_MALE_24_30',
 'FRA_ANDROID_MALE_31_40',
 'FRA_ANDROID_MALE_31_40',
 'FRA_ANDROID_MALE_41_66',
 'FRA_ANDROID_MALE_41_66',
 'FRA_IOS_FEMALE_0_18',
 'FRA_IOS_FEMALE_0_18',
 'FRA_IOS_FEMALE_0_18',
 'FRA_IOS_FEMALE_24_30',
 'FRA_IOS_FEMALE_24_30',
 'FRA_IOS_FEMALE_31_40',
 'FRA_IOS_FEMALE_31_40',
 'FRA_IOS_MALE_0_18',
 'FRA_IOS_MALE_0_18',
 'FRA_IOS_MALE_0_18',
 'FRA_IOS_MALE_19_23',
 'FRA_IOS_MALE_19_23',
 'FRA_IOS_MALE_19_23',
 'FRA_IOS_MALE_24_30',
 'FRA_IOS_MALE_24_30',
 'FRA_IOS_MALE_31_40',
 'FRA_IOS_MALE_31_40',
 'FRA_IOS_MALE_41_66',
 'TUR_ANDROID_FEMALE_0_18',
 'TUR_ANDROID_FEMALE_0_18',
 'TUR_ANDROID_FEMALE_0_18',
 'TUR_ANDROID_FEMALE_0_18',
 'TUR_ANDROID_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_24_30',
 'TUR_ANDROID_FEMALE_24_30',
 'TUR_ANDROID_FEMALE_31_40',
 'TUR_ANDROID_FEMALE_31_40',
 'TUR_ANDROID_FEMALE_41_66',
 'TUR_ANDROID_FEMALE_41_66',
 'TUR_ANDROID_FEMALE_41_66',
 'TUR_ANDROID_FEMALE_41_66',
 'TUR_ANDROID_MALE_0_18',
 'TUR_ANDROID_MALE_0_18',
 'TUR_ANDROID_MALE_0_18',
 'TUR_ANDROID_MALE_19_23',
 'TUR_ANDROID_MALE_19_23',
 'TUR_ANDROID_MALE_24_30',
 'TUR_ANDROID_MALE_24_30',
 'TUR_ANDROID_MALE_24_30',
 'TUR_ANDROID_MALE_24_30',
 'TUR_ANDROID_MALE_31_40',
 'TUR_ANDROID_MALE_41_66',
 'TUR_IOS_FEMALE_0_18',
 'TUR_IOS_FEMALE_0_18',
 'TUR_IOS_FEMALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'TUR_IOS_FEMALE_19_23',
 'TUR_IOS_FEMALE_19_23',
 'TUR_IOS_FEMALE_19_23',
 'TUR_IOS_FEMALE_19_23',
 'TUR_IOS_FEMALE_24_30',
 'TUR_IOS_FEMALE_24_30',
 'TUR_IOS_FEMALE_31_40',
 'TUR_IOS_FEMALE_31_40',
 'TUR_IOS_FEMALE_41_66',
 'TUR_IOS_MALE_0_18',
 'TUR_IOS_MALE_0_18',
 'TUR_IOS_MALE_0_18',
 'TUR_IOS_MALE_19_23',
 'TUR_IOS_MALE_19_23',
 'TUR_IOS_MALE_24_30',
 'TUR_IOS_MALE_31_40',
 'TUR_IOS_MALE_41_66',
 'TUR_IOS_MALE_41_66',
 'USA_ANDROID_FEMALE_0_18',
 'USA_ANDROID_FEMALE_0_18',
 'USA_ANDROID_FEMALE_0_18',
 'USA_ANDROID_FEMALE_0_18',
 'USA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_31_40',
 'USA_ANDROID_FEMALE_31_40',
 'USA_ANDROID_FEMALE_31_40',
 'USA_ANDROID_FEMALE_31_40',
 'USA_ANDROID_FEMALE_31_40',
 'USA_ANDROID_FEMALE_41_66',
 'USA_ANDROID_FEMALE_41_66',
 'USA_ANDROID_FEMALE_41_66',
 'USA_ANDROID_FEMALE_41_66',
 'USA_ANDROID_FEMALE_41_66',
 'USA_ANDROID_MALE_0_18',
 'USA_ANDROID_MALE_0_18',
 'USA_ANDROID_MALE_0_18',
 'USA_ANDROID_MALE_0_18',
 'USA_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_41_66',
 'USA_ANDROID_MALE_41_66',
 'USA_ANDROID_MALE_41_66',
 'USA_ANDROID_MALE_41_66',
 'USA_ANDROID_MALE_41_66',
 'USA_ANDROID_MALE_41_66',
 'USA_ANDROID_MALE_41_66',
 'USA_IOS_FEMALE_0_18',
 'USA_IOS_FEMALE_0_18',
 'USA_IOS_FEMALE_0_18',
 'USA_IOS_FEMALE_0_18',
 'USA_IOS_FEMALE_19_23',
 'USA_IOS_FEMALE_19_23',
 'USA_IOS_FEMALE_19_23',
 'USA_IOS_FEMALE_19_23',
 'USA_IOS_FEMALE_19_23',
 'USA_IOS_FEMALE_24_30',
 'USA_IOS_FEMALE_24_30',
 'USA_IOS_FEMALE_24_30',
 'USA_IOS_FEMALE_24_30',
 'USA_IOS_FEMALE_24_30',
 'USA_IOS_FEMALE_24_30',
 'USA_IOS_FEMALE_24_30',
 'USA_IOS_FEMALE_31_40',
 'USA_IOS_FEMALE_31_40',
 'USA_IOS_FEMALE_31_40',
 'USA_IOS_FEMALE_31_40',
 'USA_IOS_FEMALE_41_66',
 'USA_IOS_FEMALE_41_66',
 'USA_IOS_FEMALE_41_66',
 'USA_IOS_FEMALE_41_66',
 'USA_IOS_FEMALE_41_66',
 'USA_IOS_MALE_0_18',
 'USA_IOS_MALE_0_18',
 'USA_IOS_MALE_0_18',
 'USA_IOS_MALE_0_18',
 'USA_IOS_MALE_19_23',
 'USA_IOS_MALE_19_23',
 'USA_IOS_MALE_19_23',
 'USA_IOS_MALE_24_30',
 'USA_IOS_MALE_24_30',
 'USA_IOS_MALE_24_30',
 'USA_IOS_MALE_24_30',
 'USA_IOS_MALE_24_30',
 'USA_IOS_MALE_24_30',
 'USA_IOS_MALE_31_40',
 'USA_IOS_MALE_31_40',
 'USA_IOS_MALE_31_40',
 'USA_IOS_MALE_31_40',
 'USA_IOS_MALE_31_40',
 'USA_IOS_MALE_41_66',
 'USA_IOS_MALE_41_66',
 'USA_IOS_MALE_41_66',
 'USA_IOS_MALE_41_66',
 'USA_IOS_MALE_41_66']

In [44]:
agg_df['CUSTOMER_LEVEL_BASED'] = ["_".join(i).upper() for i in agg_df.drop(['AGE','PRICE'], axis=1).values]

In [45]:
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE      PRICE AGE_CAT      CUSTOMER_LEVEL_BASED
0     bra  android  female   15  38.714286    0_18   BRA_ANDROID_FEMALE_0_18
1     bra  android  female   16  35.944444    0_18   BRA_ANDROID_FEMALE_0_18
2     bra  android  female   17  35.666667    0_18   BRA_ANDROID_FEMALE_0_18
3     bra  android  female   18  32.255814    0_18   BRA_ANDROID_FEMALE_0_18
4     bra  android  female   19  35.206897   19_23  BRA_ANDROID_FEMALE_19_23

In [46]:
agg_df = agg_df[['CUSTOMER_LEVEL_BASED','PRICE']]

In [47]:
agg_df.head()

       CUSTOMER_LEVEL_BASED      PRICE
0   BRA_ANDROID_FEMALE_0_18  38.714286
1   BRA_ANDROID_FEMALE_0_18  35.944444
2   BRA_ANDROID_FEMALE_0_18  35.666667
3   BRA_ANDROID_FEMALE_0_18  32.255814
4  BRA_ANDROID_FEMALE_19_23  35.206897

In [48]:
agg_df.groupby('CUSTOMER_LEVEL_BASED')['PRICE'].mean().reset_index()

         CUSTOMER_LEVEL_BASED      PRICE
0     BRA_ANDROID_FEMALE_0_18  35.645303
1    BRA_ANDROID_FEMALE_19_23  34.077340
2    BRA_ANDROID_FEMALE_24_30  33.863946
3    BRA_ANDROID_FEMALE_31_40  34.898326
4    BRA_ANDROID_FEMALE_41_66  36.737179
..                        ...        ...
104         USA_IOS_MALE_0_18  33.983495
105        USA_IOS_MALE_19_23  34.901872
106        USA_IOS_MALE_24_30  34.838143
107        USA_IOS_MALE_31_40  36.206324
108        USA_IOS_MALE_41_66  35.750000

[109 rows x 2 columns]

In [45]:
agg_df = agg_df.groupby('CUSTOMER_LEVEL_BASED')['PRICE'].mean().reset_index()

#### Segmentation of "CUSTOMER_LEVEL_BASED"

In [49]:
pd.qcut(agg_df.PRICE, q = 4, labels=['D','C','B','A'])

0      A
1      B
2      B
3      C
4      B
      ..
343    D
344    A
345    C
346    D
347    A
Name: PRICE, Length: 348, dtype: category
Categories (4, object): ['D' < 'C' < 'B' < 'A']

In [50]:
agg_df['SEGMENT'] = pd.qcut(agg_df.PRICE, q = 4, labels=['D','C','B','A'])

In [51]:
agg_df.head()

       CUSTOMER_LEVEL_BASED      PRICE SEGMENT
0   BRA_ANDROID_FEMALE_0_18  38.714286       A
1   BRA_ANDROID_FEMALE_0_18  35.944444       B
2   BRA_ANDROID_FEMALE_0_18  35.666667       B
3   BRA_ANDROID_FEMALE_0_18  32.255814       C
4  BRA_ANDROID_FEMALE_19_23  35.206897       B

In [52]:
agg_df.groupby('SEGMENT')['PRICE'].mean()

SEGMENT
D    27.302596
C    32.933339
B    35.436170
A    41.434736
Name: PRICE, dtype: float64

## Classifying new customers and estimating how much revenue they can bring

In [51]:
new_user = 'TUR_ANDROID_FEMALE_31_40'

In [54]:
agg_df[agg_df['CUSTOMER_LEVEL_BASED'] == new_user]

        CUSTOMER_LEVEL_BASED      PRICE SEGMENT
72  TUR_ANDROID_FEMALE_31_40  41.833333       A

In [55]:
new_user = 'FRA_IOS_FEMALE_31_40'

In [56]:
agg_df[agg_df['CUSTOMER_LEVEL_BASED'] == new_user]

    CUSTOMER_LEVEL_BASED      PRICE SEGMENT
63  FRA_IOS_FEMALE_31_40  32.818182       C